<template>
  <div class="modal">
    <div class="modal-overflow"></div>
    <div class="modal-window extra-small">
      <div class="modal-close" v-on:click="$emit('close-modal')"></div>
      <div class="modal-title">Регестрация</div>
      <div class="modal-form">
        <div class="input-group">
          <input type="text" placeholder="Ваше имя" v-model="registerData.name">
        </div>
        <div class="input-group">
          <input type="text" placeholder="Логин" v-model="registerData.login">
        </div>
        <div class="input-group">
          <input type="text" placeholder="E-mail" v-model="registerData.email">
        </div>
        <div class="input-group">
          <input type="password" placeholder="Пароль" v-model="registerData.password">
        </div>
        <div class="input-group">
          <button class="btn btn-small btn-full" @click="signUp()">Играть</button>
        </div>
      </div>  
      <div class="error-message" v-show="error422">
        Пользователь с таким логином или почтой уже существует
        <button class="btn btn-small btn-full" @click="signUp()">Авторизоваться</button>
      </div>
    </div>
  </div>
</template>

<script>

import {mapActions} from 'vuex'

export default {
  data () {
    return { 
      registerData: {
        login: null,
        email: null,
        password: null,
        name: null
      },
      error422: false
    }
  },

  methods: {
    ...mapActions(['getUser', 'getTown']),
    signUp () {
      this.ea.$emit('startLoading')
      this.$http.post('/sign-up', this.registerData)
      .then(this.signSus)
      .catch(this.signFail)
    },

    signSus (result) {
      this.error422 = false
      localStorage.setItem('__TOKEN__', result.data)

      let getUser = this.getUser() 
      let getTown = this.getTown()

      Promise.all([getUser, getTown])
      .then(() => {
        this.ea.$emit('endLoading')
        this.$router.push('/my-town')
        this.ea.$emit('close-modal', 'register')
      })
      .catch((error) => {
        this.ea.$emit('endLoading')
      })
    },

    signFail (error) {
      this.ea.$emit('endLoading')
      if(error.response.status == 422)
        this.error422 = true
    }
  }
}
</script>

<style>

</style>
