<template>
  <div></div>
</template>

<script>

import { mapGetters, mapActions, mapMutations} from 'vuex'


export default {
  name: '',

  sockets: {
    connection (id) {
      console.log(id)
      this.SET_CONNECTION(id)
    }
  },

  methods: {
    ...mapMutations(['SET_CONNECTION']),
  }

}
</script>
