<template>
  <div class="modal">
    <div class="modal-overflow"></div>
    <div class="modal-window large">
      <div class="title">Победа!</div>
      <div class="f-table reward">
        <div class="f-td">
          <span>{{gold}}</span>
          золота отобрано у врага
        </div>
        <div class="f-td">
          <span>{{expirience}}</span>
          Единиц опыта получил каждый воин
        </div>
      </div>
      <button class="btn-img" @click="$emit('close')">Получить</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'winModal',

  props: ['gold', 'expirience']
}
</script>

<style lang="stylus" scoped>
  .modal-overflow
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background rgba(0,0,0,.5)
    z-index 10
  .modal-window 
    width 550px
    border none
    height 390px
    background url(../../../assets/img/bg/win.png)no-repeat center
    background-size 100% 100%
    padding 125px 100px 100px
  
  .title
    text-align center
    color #d47f16
    text-shadow 0 1px 2px #000
    font-size 36px
    margin-bottom 30px
  
  .reward
    text-align center
    color #ad6307
    .f-td 
      padding 0 10px
      width 50%
    span 
      display block
      color #b92c2c
      font-size 30px
    // text-shadow 0 1px 3px #843921
</style>
