<template>
  <div>
    <div class="lt-angle"></div>
    <div class="rt-angle"></div>
    <div class="lb-angle"></div>
    <div class="rb-angle"></div>

    <div class="l-border"></div>
    <div class="t-border"></div>
    <div class="r-border"></div>
    <div class="b-border"></div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
