<template>
  <div v-if="show">
    <div class="modal">
      <div class="modal-overflow"></div>
      <div class="modal-window large">
        <div class="modal-close" v-on:click="$emit('close-modal')"></div>
        
        <div class="row first-row">
          <span 
            v-for="(item, key) in enemyTeam" 
            :key="key" 
            class="party-item-wr"
            :class="{'active': item && battleRound[0].id == item.id}"
            :id="item && 'char' + item.id"
            >

            <br v-if="key == 6">

            <div 
              class="party-item party-item-melee" 
              v-if="!item">

            </div>

            <div 
              class="party-item party-item-melee"
              v-if="item"
              @click="item && item.health && (possibleAttack.indexOf(item.id) + 1) && attackThis(item)"
              :class="{'can-attack': item && possibleAttack.indexOf(item.id) + 1}"
              >
              <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
              {{item.id}}
              <div 
                class="status" 
                v-if="item && battleRound[0].id == item.id"
                >
                <i class="fas fa-asterisk"></i>
              </div>

              <div class="damage" :style="{'height': 100 - (item.health * 100 / item.max_health) + '%'}"></div>
            </div>



          </span>         
        </div>

        <div class="turn">
          <span v-show="canAttack">
            {{myTurn ? 'Ваш ход' : 'Ход противника'}}
          </span>
          <span v-show="!canAttack">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </span>
        </div>


        <div class="row first-row">
          <span 
            v-for="(item, key) in myTeam" 
            :id="item && 'char' + item.id"
            class="party-item-wr"            
            :key="key + 10" :class="{'active': item && battleRound[0].id == item.id}"
            >

            <br v-if="key == 6">

            <div 
              class="party-item party-item-melee" 
              v-if="!item"
              @click="moveCharacter(key)"
            >
            </div>

            <div 
              class="party-item party-item-melee"
              v-if="item"
              >
              <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>

              <div 
                class="status" 
                v-if="item && battleRound[0].id == item.id"
                >
                <i class="fas fa-asterisk"></i>
              </div>

              <div class="damage" :style="{'height': 100 - (item.health * 100 / item.max_health) + '%'}"></div>
            </div>

          </span>         
        </div>

        <div class="row round-row">
          <div class="party-item party-item-melee" v-for="(item, key) in battleRound.slice(0, 6)" :key="key">
            <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
          </div>
          <!-- <carousel
            :perPageCustom="[[320, 3], [400, 4], [650, 5],[850, 6], [992, 7], [1124, 9], [1600, 12]]"
            :scrollPerPage="false"
            :paginationEnabled="false" 
            :navigationEnabled="true"
          >
            <slide v-for="(item, key) in battleRound" :key="key">
              <div class="party-item party-item-melee" >
                <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
              </div>
            </slide>
          </carousel> -->
        </div>

      </div>
    </div>

    <win-modal 
      v-show="openModal == 'win'"
      :gold="rewardGold"
      :expirience="rewardExpirience"
      v-on:close="finishBattle()"
    /> 

    <fail-modal 
      v-show="openModal == 'fail'"
      v-on:close="finishBattle()" 
    />

    <div id="battle-sound">
      <audio crossOrigin="anonymous" preload="auto"  src="/static/sound/actions/attack.mp3" id="attack"></audio>
    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" src="./style.styl" scoped></style>
