.modal-window 
  max-height 90%
  max-width 900px
  position relative 
  transform none 
  left 0
  top 0
  margin 30px auto 0
  background url('../../assets/img/bg/battle.jpg')no-repeat center
  background-size cover
  border-width 2px
  text-align center

.first-row
  width 600px
  font-size 0
  margin 20px auto 0
  span 
    display inline-block
    margin 0 5px
.VueCarousel-slide
  margin 0 
  width auto
  position relative
  padding 5px
  .party-item
    margin 0
    width 100%
  
.round-row
  width 600px
  max-width 100%
  margin 30px auto 0
  font-size 0
  overflow hidden
  height 110px
  .party-item
    margin 10px 10px
  
.turn
  margin-top 30px
  font-size 24px
  color #fff
  height 24px

.attack 
  position fixed 
  opacity 0
  width 50px
  z-index 10
  &.active 
    opacity 1
  
.party-item-wr
    &.damage
        -webkit-animation 0.1s tremor ease-out infinite
        animation 0.1s tremor ease-out infinite

@keyframes tremor
    0%, 25% 
      left -1px
      -webkit-transform translateX(-4%)
      transform translateX(-4%)

    50%, 100%
      left 1px
      -webkit-transform translateX(4%)
      transform translateX(4%)
  
.spinner
  margin 0 auto 0
  width 70px
  text-align center


.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}