<template>
  <div class="common-page">
    <div class="center-block">
      <div>
        <modal-btn 
          m-name="auth" 
          m-text="Авторизация" 
          m-class="btn-w-200">
        </modal-btn>
      </div>
      <div>
        <modal-btn 
          m-name="register" 
          m-text="Регестрация" 
          m-class="btn-w-200">
        </modal-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'comonHome'
}
</script>

<style lang="stylus">
.center-block
  .btn
    display block
    margin-bottom 10px

</style>
