<template>
  <div class="modal" v-if="myTeam">
    <div class="modal-overflow" v-on:click="$emit('close-modal')"></div>
    <div class="modal-window large">
      <decor />

      <div class="modal-close" v-on:click="$emit('close-modal')"> <i class="fas fa-times"></i></div>
      <div class="modal-title">Отряд</div>
      <div class="party-flexbox">
        <div class="party-left">
          <div class="party">
            <div class="party-row">

              <span v-for="(item, key) in characterOnPosition" :key="key + 100">
                <br v-if="key == 6">

                <div 
                  class="party-item party-item-melee" 
                  v-if="!item"
                  @click="choosenChar && moveHero(key)">

                </div>

                <div 
                  class="party-item party-item-melee"
                  v-if="item"
                  @click="choosenChar = item"
                  >
                  <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
                </div>

              </span>
              
            </div>
          </div>

          <div class="subtitle">Запас</div>
          <div class="party">
            <div class="party-row">
              <div 
                class="party-item party-item-home" 
                v-for="(item, key) in myTeam" 
                :key="key" 
                @click="choosenChar = item"
                v-if="!item.position">
                <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
              </div>
              <span v-if="emptys > 0">
                <div 
                  class="party-item party-item-home" 
                  v-for="(item, key) in emptys" 
                  :key="key + 20"
                  @click="choosenChar && moveHero(null)">
                  <!-- <img src="img" alt="">/ -->
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="party-right" v-if="choosenChar">
          <div class="choosen-character">
            <div class="choosen-character-img">
              <img v-bind:src="'/static/image' + choosenChar.full_img" alt="">
            </div>
            <div class="choosen-short-info">
              <div class="name">{{choosenChar.name}}</div>
              <span class="power">Опыт: {{choosenChar.experience}}</span>
              <button class="btn btn-bly btn-small" @click="openCharacterInfo(choosenChar.id)">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped src="./style.styl"></style>
