<template>
  <div v-if="myTown">
    <div class="town-page my-town-page fixed-window" :style="'background-image: url(/static/image' + myTown.image">

    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus">
  .my-town-page
    background-image url('../../../assets/img/towns/village.jpg')
</style>
