@import './reset.styl'
@import './fonts.styl'
@import './atoms/btns'
@import './atoms/modal'
@import './atoms/icons'

@import './components/party'
@import './components/blocks'
@import './components/possible'

#app 
  overflow hidden 
  width 100%
  height 100%
  position fixed
  left 0
  top 0
  background url('../img/bg.jpg')no-repeat center
  background-size cover
  font-family 'Montresor'


.fixed-window
  overflow hidden 
  width 100%
  height 100%
  position fixed
  left 0
  top 0
  background url('../img/bg.jpg')no-repeat center
  background-size cover

.center-block
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)

.input-group
  margin 10px 0
  position relative
  input 
    border-radius 3px
    display block
    width 100%
    border 1px solid #3ca99e
    padding 10px 
    box-shadow 0px 1px 5px rgba(0,0,0,.2)

.f-table 
  display table 
  width 100%

.f-tr 
  display table-row

.f-td 
  display table-cell

.text-center
  text-align center

.text-right 
  text-align right 

.text-left 
  text-align left

.mb-1 
  margin-bottom 10px

.mb-2 
  margin-bottom 20px

.mb-3 
  margin-bottom 30px


.mt-1 
  margin-top 10px

.mt-2 
  margin-top 20px

.mt-3 
  margin-top 30px

.error-message
  color red
  font-size 12px
  font-family Roboto
  & > * 
    margin 10px 0
  
.input 
  background rgba(0,0,0,.3)
  border 1px solid #349591
  padding 5px 15px
  color #fff

.info
  color #fff
  letter-spacing 1px
  font-size 14px