<template>
  <div 
    class="btn" 
    @click="openModal()"
    v-bind:class="mClass">
      {{mText}}
  </div>
</template>

<script>
export default {
  name: 'modalBtn',
  props: ['mName', 'mText', 'mClass'],

  methods: {
    openModal () {
      this.ea.$emit('open-modal', this.mName)
    }
  },

  mounted () {

    
  }
}
</script>

<style>

</style>
