<template>
  <div>

    <register v-show="registerShow"  @close-modal="registerShow = false"/>
    <auth v-show="authShow"  @close-modal="authShow = false"/>
    
  </div>
</template>

<script>
import register from '@/components/modal/register'
import auth from '@/components/modal/auth'

export default {
  name: 'modals',
  data () {
    return {
      registerShow: false,
      authShow: false,
    }
  },
  components: {
    register,
    auth
  },

  mounted () {
    this.ea.$on('open-modal', payload => {
      let modalName = payload + 'Show'
      this[modalName] = true
    })

    this.ea.$on('close-modal', payload => {
      let modalName = payload + 'Show'
      this[modalName] = false
    })
    
  }
}
</script>

<style>

</style>
