<template>
    <div v-show="show">
        <div class="loader-overflow"></div>
        <div id="loader">
            <img src="@/assets/img/loader.gif" alt="">
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            show: false
        }
    },
    methods: {
        startLoad () {
            this.show = true
        },

        endLoad () {
            setTimeout(() => {
                this.show = false
            }, 500)
        }
    },

    mounted () {
        this.ea.$on('startLoading', this.startLoad)
        this.ea.$on('endLoading',this.endLoad)
    }
}
</script>

<style lang="stylus">
#loader
    position absolute
    top 50%
    left 50%
    width 150px
    height 150px
    background #90cf73
    transform translate(-50%,-50%)
    border-radius 50%
    overflow hidden
    border 10px solid #fff
    padding-top 25px
    z-index 999
    img 
        width 100%

.loader-overflow
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background rgba(0,0,0,.5)
    z-index 999
</style>
