<template>
  <div v-bind:class="{'visible': open}" v-if="team">
    <div class="left-move-block enemy-distric-block" v-if="team">
      <i class="fas fa-times close-btn" @click="open = false"></i>
      <div class="img" :style="'background-image: url(/static/image/' + team.enemy[0].img + ')'"></div>
      <div class="content">
        <span>Мощь отряда: {{team.power}}</span>
        <span>Численность: {{team.enemy.length}}</span>
        <div>
          <span class="actions" @click="attack()">Напасть</span>
          <span class="actions" @click="getout()">Прогнать</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped>
  .enemy-distric-block
    width 260px
    height 100px
    background url('../../assets/img/interface/small-block.png')no-repeat center
  
  .img
    position absolute
    left 30px
    top 20%
    height 60%
    border 2px solid #ffffff
    width 60px
    background-size cover
    background-position center
    box-shadow 0 0 10px rgba(0,0,0,.5)
  
  .content
    position absolute 
    left 110px
    top 15%
    span 
      color #fff
      line-height 1.4
      display block
    .actions
      text-decoration underline
      font-size 16px
      cursor pointer
      display inline
      &:hover
        text-decoration none
</style>
