.btn 
  padding 15px 40px 18px
  border-radius 7px
  box-shadow 0 2px 3px rgba(0,0,0,.3)
  display inline-block
  vertical-align middle
  text-align center
  background #3e3e40
  letter-spacing 2px
  font-family 'Montresor'
  font-size 20px
  color #fff
  text-decoration none
  border none
  outline none!important
  border-bottom 2px solid #1b1b1b
  transition all 0.2s linear
  position relative
  cursor pointer
  top 0
  &:hover
    box-shadow 0 2px 15px rgba(0,0,0,.5)
  &:active
    top 1px
.btn-small 
  padding-top 8px
  padding-bottom 8px
  font-size 16px
.btn-full
  width  100%
.btn-w-150
  min-width 150px

.btn-w-250
  min-width 250px

.btn-w-200
  min-width 200px


.btn-gold
  background #f0c918
  border-color #a0920e
  &:active 
    background #bba30c
  
.btn-bly
  // background #349591
  background url('../img/btns/bly.png')no-repeat center 
  background-size 100% 100%

.close-btn
  position absolute 
  right 15px
  top 15px
  color #ffffff
  cursor pointer

.btn-img
  border none 
  font-size 18px
  display block
  margin 25px auto 0
  padding 10px 40px 11px
  background url('../img/btn.png')no-repeat center 
  background-size 100%
  outline none
  cursor pointer
  font-family 'Montresor'
  color #5a3917
  position relative
  opacity 0.9
  transition 0.1s linear
  &:hover
    opacity 1
  &:active
    top 1px