.icon
  display inline-block
  vertical-align  middle 
  background url('../../assets/img/icons/games_icons.png')no-repeat left top 

  &-home
    width 35px
    height 35px
    background-position 0 -5px
  &-party
    width  35px
    height 35px
    background-position -5px -98px 
  &-top 
    width 34px
    height 35px
    background-position -190px -5px
  &-monster
    width 29px
    height 34px
    background-position right -1px top -53px
  &-logout
    width 26px
    height 35px
    background-position -293px -50px