.modal-window
  position absolute
  left 50%
  top 50%
  width 600px
  transform translate(-50%,-50%)
  padding 30px 30px
  background #fff
  border-radius 0
  // border 5px solid #349591
  transition all 0.2s linear 
  max-width 100
  z-index 21
  &.small 
    width 400px
  &.extra-small
    width 300px
  &.large 
    width 1000px

  .lt-angle,
  .rt-angle,
  .lb-angle,
  .rb-angle
    display block
    width 143px
    height 155px
    background url('../img/interface/modal-angle.png')no-repeat top
    background-size 100%
    position absolute
    z-index 10

  .lt-angle 
    left -40px
    top -15px
  
  .rt-angle
    transform: scale(-1, 1) 
    right -40px
    top -15px
  
  .lb-angle
    transform: scale(1, -1)   
    bottom -15px
    left -40px
  
  .rb-angle
    transform: scale(-1, -1)   
    right -40px
    bottom -15px
  
  .l-border
    height 100%
    width 44px
    position absolute
    background url('../img/interface/modal-border.png')repeat-y top center 
    top 0
    left -20px
    z-index 9    

  .t-border
    width 100%
    height 44px
    position absolute
    background url('../img/interface/modal-border2.png')repeat-x center 
    top -20px
    left 0
    z-index 9


  .b-border
    width 100%
    height 44px
    position absolute
    transform rotate(180deg)
    background url('../img/interface/modal-border2.png')repeat-x center 
    bottom -15px
    left 0
    z-index 9
    
  
  .r-border
    height 100%
    width 44px
    position absolute
    background url('../img/interface/modal-border.png')repeat-y top center 
    top 0
    right -15px
    transform rotate(180deg)
    z-index 9
  

.modal-overflow
  position fixed 
  top 0
  bottom 0
  width 100%
  height 100%
  background rgba(0,0,0,.5)
  z-index 20

.modal-close
  position absolute
  right -20px
  top -5px
  // background url('../img/close.png')no-repeat center
  background-size 95%
  cursor pointer
  transition all 0.2s linear
  z-index 20!important
  color #740f0f
  font-size 30px

.modal-title
  text-align center
  font-size 26px
  color #3e3e40
  margin-bottom 15px

