<template>
  <div class="modal"  v-if="myTown">
    <div class="modal-overflow" v-on:click="$emit('close-modal')"></div>
    <div class="modal-window large">
      <decor />
      <div class="modal-close" v-on:click="$emit('close-modal')"> <i class="fas fa-times"></i></div>
      
      <div class="town">
        <div class="town-tabs">
          <div class="btn" @click="chosenTab = 'info'">Характеристика города</div>
          <div class="btn" @click="chosenTab = 'upgrade'">Улучшить город</div>
          <div class="btn">Переселение</div>          
          <div class="btn" @click="chosenTab = 'mine'">Шахта</div>
        </div>
        <div class="town-conten">
          <!-- <div class="town-prevu"></div> -->
          <div v-if="chosenTab == 'info'">
            <div class="title mb-3">Характеристика города</div>
            <div class="subtitle">*Здесь вы можете просмотреть характеристику вашего города</div>

            <div class="f-table info-table">
              <div class="f-tr">
                <div class="f-td">Тип</div>
                <div class="f-td">{{myTown.name}}</div>
              </div>
              
              <div class="f-tr">
                <div class="f-td">Уровень</div>
                <div class="f-td">{{myTown.level}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Ранг</div>
                <div class="f-td">{{myTown.rarity}}</div>
              </div>
              
              <div class="f-tr">
                <div class="f-td">Бонус к золоту</div>
                <div class="f-td">{{myTown.gold_bust}}%</div>
              </div>
              
            </div>

            <hr>

            <div class="f-table info-table">
              
              <div class="f-tr">
                <div class="f-td">Золота в городе</div>
                <div class="f-td">{{user.gold}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Уровень шахты</div>
                <div class="f-td">{{myTown.mine_level}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Цена улутшения</div>
                <div class="f-td">{{myTown.mine_price}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Золота в час</div>
                <div class="f-td">{{myTown.gold_per_hour}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Золота в минуту</div>
                <div class="f-td">{{myTown.gold_per_hour / 60}}</div>
              </div>
              

            </div>

            <hr>

            <div class="f-table info-table">

              <div class="f-tr">
                <div class="f-td">Уровень казармы</div>
                <div class="f-td">{{myTown.barrack_level}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Цена улутшения</div>
                <div class="f-td">{{myTown.barrack_price}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Скидка в казарме</div>
                <div class="f-td">{{myTown.discount}}</div>
              </div>
              

            </div>  

            <hr>

            <div class="text">{{myTown.discription}}</div>

            <!-- <div class="subtitle">Возможные отряды в округе</div>  -->
          </div>

          <div v-if="chosenTab == 'upgrade'" class="text-center">
            <div class="title mb-3">Повысить уровень города</div>
            <div class="subtitle">*Здесь вы можете повысить уровень своего поселка</div>
            <div class="text">Чем выше уровень города тем сильнее монстры будут появляться в округе</div>
            <div class="text">Так же увеличиваеться добыча золота</div>
            <div class="text">Максимальный уровень города - 10</div>    
            
            <br>
            <div class="text">Следующий уровень города: 2</div>
            <div class="text">Бонус к золоту: 2%</div>    
            <hr>        
            <div class="btn btn-gold mt-3" @click="upgradeTown()">Улутшить город ({{calc(100, myTown.level)}} золотых)</div>
          </div>

          <div v-if="chosenTab == 'mine'" class="text-center">
            <div class="title mb-5">Шахта в городе</div>
              <div class="subtitle">
                Сейчас у вас шахта <i>{{myTown.mine_level}}</i> уровня
              </div>

              <div class="f-table info-table text-left">

              <div class="f-tr">
                <div class="f-td">Цена улутшения</div>
                <div class="f-td">{{myTown.mine_price}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Золота в час</div>
                <div class="f-td">{{myTown.gold_per_hour}}</div>
              </div>

              <div class="f-tr">
                <div class="f-td">Золота в минуту</div>
                <div class="f-td">{{myTown.gold_per_hour / 60}}</div>
              </div>
              

            </div>

             <div class="btn btn-gold mt-3" @click="upgradeMine()">Улутшить шахту (20 золотых)</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script src="./script.js"></script>

<style src="./style.styl" scoped lang="styl"></style>
