.modal-window 
  background url('../../assets/img/bg/town-interface.jpg')no-repeat center
  background-size cover

.town-tabs
  width 300px
  min-width 300px
  border-right 2px solid #349591
  padding-right 15px
  .btn 
    display block
    margin-bottom 15px
    background #349591

.town
  min-height 600px
  display flex

.town-conten
  width 100%
  padding-left 15px

.town-prevu
  height 200px
  width 100%
  background url('../../assets/img/towns/village.jpg')no-repeat center 
  background-size cover

.title
  font-size 32px
  color #fff
  text-align center
  margin-bottom 10px

.info-table
  .f-td 
    font-size 16px
    color #fff
    padding 7px 0
    border-bottom 1px solid rgba(255,255,255,.2)
    &:last-child
      text-align right
  .f-tr:last-child 
    .f-td
      border-bottom none

.subtitle
  font-size 18px 
  display block 
  margin-bottom 30px
  color #fff

.text
  line-height 22px
  font-size 16px
  color #fff
  