<template>
  <div class="bottom-interface">

    <div class="left-block">
      <div class="icon-list">
        <div @click="showModal('TownInterface')">
          <img src="@/assets/img/icons/town-info.png" alt="">
          <!-- <i class="icon icon-home"></i>
          <span>Город</span> -->
        </div>

         <div @click="showModal('Barrack')">
          <img src="@/assets/img/icons/barrack.png" alt="" title="Казарма">
          <!-- <i class="icon icon-home"></i>
          <span>Казарма</span> -->
        </div>


        <div @click="showModal('EnemyDistrict')">
          <img src="@/assets/img/icons/district-enemy.png" alt="">
        </div>
      </div>
    </div>

    <div class="center-block">
      
    </div>

    <!-- <div class="user-icon">
      <div class="user-icon-relative">
        <img src="https://scontent-frx5-1.cdninstagram.com/vp/26679d25f162a1f3050e0d6e21468724/5BB9FC42/t51.2885-19/s150x150/23668114_546767042324002_1461495680550830080_n.jpg" alt="">
        <router-link :to="{name: 'MyTown'}">В город</router-link>
      </div>
    </div> -->

    <div class="right-block">
      <div class="icon-list">

        <div @click="showModal('PartyInterface')">
          <!-- <i class="icon icon-party"></i> -->
          <img src="@/assets/img/icons/team.png" alt="">
          <!-- <span>Отряд</span> -->
        </div>

        <a href="#">
          <img src="@/assets/img/icons/rate.png" alt="">
        </a>

        <a href="#">
          <img src="@/assets/img/icons/setting.png" alt="">
          <!-- <i class="fas fa-cogs"></i>
          <span>Настройки</span> -->
        </a>

        <!-- <a href="#">
          <i class="icon icon-logout"></i>
          <span>Выход</span>
        </a> -->
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'bottomIntarface',
  methods: {
    showModal (modal) {
      this.$emit('showModal', modal)
    }
  }
}
</script>

<style lang="stylus" scoped src="./style.styl"></style>
