<template>
  <div class="general-layout">
    <router-view/>
    
    <bottom-interface @showModal="showModal"/>

    <owner-info />

    <town-interface v-show="activeModal == 'TownInterface'" @close-modal="activeModal = false" />

    <party-interface v-show="activeModal == 'PartyInterface'" @close-modal="activeModal = false" />

    <character-info v-show="activeModal == 'CharcterInfo'" @close-modal="activeModal = false" />

    <barrack v-show="activeModal == 'Barrack'" @close-modal="activeModal = false" />
    

    <enemy-district />

    <travel />

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import bottomInterface from '@/components/bottom-interface'
import ownerInfo from '@/components/owner-info'
import townInterface from '@/components/town-interface'
import partyInterface from '@/components/party-interface'
import characterInfo from '@/components/character-info'
import enemyDistrict from '@/components/enemy-district'
import barrack from '@/components/barrack'
import travel from '@/components/travel'


export default {
  name: 'general',
  components: {
    bottomInterface, 
    ownerInfo,
    townInterface,
    partyInterface,
    characterInfo,
    enemyDistrict,
    barrack,
    travel
  },
  data () {
    return {
      activeModal: null
    }
  },

  methods: {
    showModal (modal) {
      this.activeModal = modal
      this.ea.$emit('open-' +  this.activeModal)
    }
  },

  mounted () {
    this.ea.$on('open-interface', (args) => {
      this.activeModal = args.name
      this.ea.$emit('open-' + args.name)
    })

    this.ea.$on('close-interface', (args) => {
      this.activeModal = null
      // this.ea.$emit('close-' + args.name)
    })
  }
}
</script>
