<template>
  <div class="modal" v-if="character">
    <div class="modal-overflow" v-on:click="$emit('close-modal')"></div>
    <div class="modal-window large">

      <decor />
      <div class="modal-close" v-on:click="$emit('close-modal')"> <i class="fas fa-times"></i></div>
      
      <div class="ch-i-row">
        <div class="ch-i-left"> 
          <div class="ch-i-coll">
            <div class="ch-i-upgrades">
              <div 
                class="img" 
                v-bind:style="'background-image: url(/static/image' + character.img + ')'" 
                @click="focusCharacter = character">
              </div>
            </div>
          </div>
          <div class="ch-i-coll">
            <div class="ch-i-upgrades" v-for="(item, key) in charactersUpgrades" :key="key" @click="focusCharacter = item">
              <div 
                class="img" 
                v-bind:style="'background-image: url(/static/image' + item.img + ')'">
              </div>
            </div>
          </div>

          <div class="ch-i-upgrade-bottom">
            <div v-show="focusCharacter != character">
              <p>Чтобы улутшить <i>"{{character.name}}"</i> до <i>"{{focusCharacter.name}}"</i><br> у персонажа должно быть <i>{{focusCharacter.need_experience}}</i> единиц опыта</p>
              <button v-if="character.experience >= focusCharacter.need_experience" class="btn btn-bly" @click="upgrade()">Улутшить</button>
              <button v-if="character.experience < focusCharacter.need_experience" class="btn">Улутшить</button>
            </div><br>
            
            <p>У персонажа <i>{{character.experience}}</i> единиц опыта</p>
          </div>
        </div>
        <div class="ch-i-right">
          <div class="ch-i-thumbmail">
            <img :src="'/static/image' + focusCharacter.full_img" alt="">
            <div class="ch-i-information">
              <div class="ch-i-information-rel">
                <div class="ch-i-group" :title="focusCharacter.group_name">
                  <img :src="'/static/image/groups/' + focusCharacter.group_logo" alt="">
                </div>

                <div class="ch-i-name">{{focusCharacter.name}}</div>
                <div class="f-table">
                  <div class="f-tr">
                    <div class="f-td">Тип атаки</div>
                    <div class="f-td">
                      <div v-show="focusCharacter != character">
                        <span 
                          class="now" 
                          v-show="getTypeAttack(character.type_attack) != getTypeAttack(focusCharacter.type_attack)"
                          >
                            {{getTypeAttack(character.type_attack)}}
                        </span>
                        <span class="to">{{getTypeAttack(focusCharacter.type_attack)}}</span>
                      </div>

                      <span class="my" v-show="focusCharacter == character">{{getTypeAttack(focusCharacter.type_attack)}}</span>
                    </div>
                  </div>

                  <div class="f-tr">
                    <div class="f-td">Жизнь</div>
                    <div class="f-td">
                      <div v-show="focusCharacter != character">
                        <span class="now">{{character.health}}</span>
                        <span class="to">{{focusCharacter.health}}</span>
                      </div>

                      <span class="my" v-show="focusCharacter == character">{{focusCharacter.health}}</span>
                    </div>
                  </div>

                  <div class="f-tr">
                    <div class="f-td">Урон</div>
                    <div class="f-td">
                      <div v-show="focusCharacter != character">
                        <span class="now">{{character.attack}}</span>
                        <span class="to">{{focusCharacter.attack}}</span>
                      </div>

                      <span class="my" v-show="focusCharacter == character">{{focusCharacter.attack}}</span>
                    </div>
                  </div>

                  <div class="f-tr">
                    <div class="f-td">Физическая защита</div>
                    <div class="f-td">
                      <div v-show="focusCharacter != character">
                        <span class="now">{{character.physical_armor}}</span>
                        <span class="to">{{focusCharacter.physical_armor}}</span>
                      </div>

                      <span class="my" v-show="focusCharacter == character">{{focusCharacter.physical_armor}}</span>
                    </div>
                  </div>

                  <div class="f-tr">
                    <div class="f-td">Магическая защита</div>
                    <div class="f-td">
                      <div v-show="focusCharacter != character">
                        <span class="now">{{character.magic_armor}}</span>
                        <span class="to">{{focusCharacter.magic_armor}}</span>
                      </div>

                      <span class="my" v-show="focusCharacter == character">{{focusCharacter.magic_armor}}</span>
                    </div>
                  </div>

                  <div class="f-tr">
                    <div class="f-td">Шанс критического удара</div>
                    <div class="f-td">
                      <div v-show="focusCharacter != character">
                        <span class="now">{{character.critical_hit_chance}}%</span>
                        <span class="to">{{focusCharacter.critical_hit_chance}}%</span>
                      </div>

                      <span class="my" v-show="focusCharacter == character">{{focusCharacter.critical_hit_chance}}%</span>
                    </div>
                  </div>

                  <div class="f-tr">
                    <div class="f-td">Шанс уклонения</div>
                    <div class="f-td">
                      <div v-show="focusCharacter != character">
                        <span class="now">{{character.evasion}}%</span>
                        <span class="to">{{focusCharacter.evasion}}%</span>
                      </div>
                     
                      <span class="my" v-show="focusCharacter == character">{{focusCharacter.evasion}}%</span>
                    </div>
                  </div>

                  <div class="f-tr">
                    <div class="f-td">Инициатива</div>
                    <div class="f-td">
                      <div v-show="focusCharacter != character">
                        <span class="now">{{character.initiative}}</span>
                        <span class="to">{{focusCharacter.initiative}}</span>
                      </div>
                    
                      <span class="my" v-show="focusCharacter == character">{{focusCharacter.initiative}}</span>
                    </div>
                  </div>

                  <div class="f-tr">
                    <div class="f-td">Вампиризм</div>
                    <div class="f-td">
                      <div v-show="focusCharacter != character">
                        <span class="now">{{character.theft_life}}</span>
                        <span class="to">{{focusCharacter.theft_life}}</span>
                      </div>

                      <span class="my" v-show="focusCharacter == character">{{focusCharacter.theft_life}}%</span>
                    </div>
                  </div>

                  <div class="f-tr">
                    <div class="f-td">Количество действий</div>
                    <div class="f-td">
                      <div v-show="focusCharacter != character">
                        <span class="now">{{character.number_actions}}</span>
                        <span class="to">{{focusCharacter.number_actions}}</span>
                      </div>

                      <span class="my" v-show="focusCharacter == character">{{focusCharacter.number_actions}}</span>  
                    </div>
                  </div>

                  <div class="f-tr">
                    <div class="f-td">Особенность</div>
                    <div class="f-td"></div>
                  </div>
                </div>

                <!-- <div class="ch-i-discription">
                  Королевский воин усиливает атаку всех воинов отряда на 15% 
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped src="./style.styl"></style>
