.modal-window
  min-height 600px
  background url('../../assets/img/bg/character-info.jpg')no-repeat center
  background-size cover
  border-width 2px

.ch-i-thumbmail
  height 600px
  width 400px
  min-width 400px
  position relative
  overflow hidden
  border 2px solid #fff
  img 
    position absolute 
    left 50%
    top 50%
    transform translate(-50%,-50%)
    min-width 100%
    min-height 100%
    max-height 120%
    max-width 120%

.ch-i-information
  position absolute 
  top 0
  left 0
  width 100%
  height 100%
  .f-td 
    color #ffffff
    padding 5px 0
    font-size 16px
    &:last-child 
      text-align right

.ch-i-name
  color #ffffff
  font-size 24px
  margin-bottom 25px

.ch-i-information-rel
  position absolute
  bottom 0
  left 0
  width 100%
  padding 15px
  background rgba(0,0,0,.7)

.ch-i-discription
  color #ffe400
  padding-top 15px
  line-height 1.4

.ch-i-left
  width 100%
  position relative

.ch-i-row
  display flex

.ch-i-left
  text-align center
  padding-right 15px

.ch-i-upgrades
  width 100px
  height 100px
  display inline-block
  margin 0 15px
  border 1px solid #fff
  cursor pointer
  position relative
  .img 
    width 98px
    height 98px
    background-size cover
    background-position center 
    background-repeat no-repeat
  

.ch-i-coll
  margin-bottom 50px
  font-size 0
  display flex
  justify-content space-around
  position relative

.ch-i-50
  display inline-block
  vertical-align top 
  width 50%
  isplay flex
  justify-content space-around

.ch-i-upgrade-bottom
  position absolute 
  bottom 40px
  left 0
  width 100%
  text-align center
  color #fff
  p 
    font-size 18px
    color #fff
    margin-bottom 20px
    line-height 1.6
    i 
      color #f44
      font-style normal

span.now 
  color #f44
  font-size 14px
  margin-right 2px
  &:after
    content '→'
    margin-left 3px

.ch-i-group
  position absolute 
  right 10px
  top 10px
  width 40px
  height 40px
  z-index 10
  cursor pointer
  img 
    max-width 100