.party-item
  height 100px
  width 100px
  border 1px solid rgba(255,255,255,.4)
  display inline-block
  vertical-align top
  margin 5px
  cursor pointer
  transition all 0.1s linear
  position relative
  overflow hidden
  &:after
    content ''
    display block
    width 100%
    height 100%
    left 0
    top 0
    position absolute
    z-index -1
    opacity 0.3
    transition all 0.1s linear
    will-change opacity
  &-melee:after
    background url('../img/icons/melee.png')no-repeat center
    background-size 96%
  &-distanse:after
    background url('../img/icons/distanse.png')no-repeat center
    background-size 96%
  &-home:after
    width 70%
    left 15%
    top 15%
    height 70%
    border-radius 50%
    border 2px solid #fff
  .img 
    width 100%
    height 100%
    z-index 2
    background-repeat no-repeat 
    background-size cover
    background-position center
  &.can-attack .img
    box-shadow inset 0 0 15px red
  
  .damage
    position absolute 
    bottom 0
    left 0
    width 100%
    background url('../img/bg/blow.png')no-repeat center 
    opacity 0.5
    z-index 5
    transition all 0.2s linear
&.active 
  .status
    display block
    width 25px
    font-size 14px
    color #fff 
    height 25px
    line-height 24px
    border-radius 50%
    background #04716b
    position absolute 
    right 5px
    bottom 5px
    z-index 10
  
  &:hover
    border-color rgba(255,255,255,.7)
    &:after
      opacity 0.7
.party-row
  font-size 0

.party
  position relative
  z-index 2
  margin-left -5px
  margin-right -5px

.VueCarousel-slide:first-child
  .party-item 
    border 2px solid red