<template>
  <div class="modal">
    <div class="modal-overflow" v-on:click="$emit('close-modal')"></div>
    <div class="modal-window large">
      <decor class="decor-parent"/>
      <div class="modal-close" v-on:click="$emit('close-modal')"> <i class="fas fa-times"></i></div>
      
      <div class="barrack">
        <div class="barrack-tabs" :class="{'active': showSidebar}">
          <ul>
            <li :class="{'active': openTab=='info'}" @click="tab('info')">Общая информация</li>
            <li :class="{'active': openTab=='barrack'}" @click="tab('barrack')">Наем воинов</li>
            <li :class="{'active': openTab=='possible'}" @click="tab('possible')">Возможные воины</li>
          </ul>
          <div 
            class="barrack-tabs-btn" 
            @click="showSidebar = !showSidebar"
            :class="{'active': showSidebar}">
            <i class="fas" :class="{'fa-arrow-right': !showSidebar, 'fa-arrow-left': showSidebar}"></i>
          </div>
        </div>
        <div class="barrack-content">
          <div class="barrack-tab" v-if="openTab == 'barrack'">
            <div class="title mb-3">Воины в казарме</div>

            <div class="filter-block text-center">
              <div class="filter-col">
                <p>Фильтровать по цене</p>
                <input 
                  type="number" 
                  class="input" 
                  autocomplete="off" 
                  v-model="priceMin" 
                  step="50"
                  name="a" 
                  placeholder="От">
                <input 
                  type="number" 
                  class="input" 
                  autocomplete="off"  
                  v-model="priceMaxP" 
                  step="50" 
                  name="b"
                  placeholder="До">
              </div>
            </div>
            <vue-perfect-scrollbar class="scroll-area" >
              <div>

                <div class="party-row">
                  <span v-for="(item, key) in characters" :key="key" v-if="item.price > priceMin && item.price < priceMax">
                    <div class="party-item party-item-home">
                      <i class="fas fa-user-times remove-item" @click="removeChar(item.id)"></i>
                      <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
                    </div>
                    <div class="name">{{item.name}}</div>
                    <span class="price">{{item.price}} золотых</span>
                    <button class="btn-img" @click="hire(item.id)">Нанять</button>
                  </span>
                </div> 

              </div>
            </vue-perfect-scrollbar>
          </div>
          <div class="barrack-tab possible-tab" v-if="openTab == 'possible'">
              <div class="title mb-3">Доступные воины</div>
              <p class="info">* В каждом городе обитают разные существа, поетому и воины отличаються. Это список воинов доступных для вашего города.</p>
              <vue-perfect-scrollbar class="scroll-area" >
                <div class="possible">
                  <div class="possible-row" v-for="(row, key) in possibleCharacters" :key="key+100">
                    <div class="possible-row-title">{{key}} уровень казармы</div>
                    <div class="possible-items">
                      <div class="posible-item" v-for="(item, key2) in row" :key="key2 + 111" :title="item.name">
                        <div class="img" v-bind:style="'background-image: url(/static/image' + item.img + ')'"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </vue-perfect-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./script.js"></script>

<style lang="stylus" scoped src="./style.styl"></style>
