<template>

  <div id="app">
    
    <loader/>

    <router-view/>

    <modals />

    <socket-receiver />

  </div>

</template>

<script>
import loader from '@/components/loader'
import modals from '@/components/modal/index.vue'
import { mapGetters, mapActions, mapMutations} from 'vuex'

import socketReceiver from '@/utils/socketReceiver.vue'

export default {
  name: 'App',

  components: {
    loader,
    modals,
    socketReceiver
  },

  methods: {
    ...mapActions(['getUser', 'getTown']),
    loadUser () {
      let token = localStorage.getItem('__TOKEN__')
      if(token) {
        let getUser = this.getUser() 

        Promise.all([getUser])
        .then(() => {
          // this.ea.$emit('endLoading')
          this.$router.push('/my-town')
        })
        .catch((error) => {
          this.ea.$emit('endLoading')
        })
      }
      else 
        this.ea.$emit('endLoading')
    }
  },

  mounted () {
    if(!this.user) {
      this.ea.$emit('startLoading')
      this.loadUser()
    }
  }
}

</script>

<style lang="stylus" src="@/assets/style/style.styl"></style>
