<template>
  <div class="modal">
    <div class="modal-overflow"></div>
    <div class="modal-window extra-small">
      <div class="modal-close" v-on:click="$emit('close-modal')"></div>
      <div class="modal-title">Авторизация</div>
      <div class="modal-form">
        <div class="input-group">
          <input type="text" placeholder="Логин" v-model="login">
        </div>
        <div class="input-group">
          <input type="password" placeholder="Пароль" v-model="password">
        </div>
        <div class="input-group">
          <button class="btn btn-small btn-full" @click="signIn()">Войти</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'auth',

  data () {
    return { 
      login: null,
      password: null
    }
  },

  methods: {
    signIn () {
      this.ea.$emit('startLoading')
      this.$http.post('/sign-in', {login: this.login, password: this.password})
      .then(this.signSus)
      .catch(this.signFail)
    },

    signSus (result) {
      localStorage.setItem('__TOKEN__', result.data)
      this.$router.push('/my-town')
      this.ea.$emit('close-modal', 'auth')
    },

    signFail (error) {
      this.ea.$emit('endLoading')
    }
  }
}
</script>

<style>

</style>
